apigw-resource-id :: {
  "Properties": {
    "AuthorizationType": "NONE",
    "HttpMethod": "GET",
    "Integration": {
      "H": undefined,
      "IntegrationHttpMethod": "POST",
      "IntegrationResponses": [ { ... } ],
      "PassthroughBehavior": "WHEN_NO_TEMPLATES",
      "RequestParameters": { "integration.request.header.Content-Type": "'application/x-www-form-urlencoded'" },
        "Type": "AWS_PROXY",
        "Uri": { "Fn::Join": [ ... ] }
      },
      "MethodResponses": [ { ... } ],
      "ResourceId": { "Ref": "cmsapigatewayresourcesA9A695C0" },
      "RestApiId": { "Ref": "cmsapigateway916A31E7" }
    },
  "Type": "AWS::ApiGateway::Method"
}
